# Analiza zbioru danych

## Krok 1. Wczytanie zbioru danych. Analiza ujawniła istnienie nagłówka. Dane przechowywane są w formacie tsv - Tab Separated Values

In [134]:
inputFile <- read.table("TitanicMess.tsv", sep="\t", header=TRUE)

## Krok 2. Wyświetlenie wczytanych danych

In [141]:
inputFile

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  11          1        3
15  15          0        3
16  16          1        2
17  17          0        3
19  19          0        3
21  21          0        2
22  22          1        2
23  23          1        3
24  11          1        3
25  25          0        3
26  26          1        3
28  28          0        1
31  31          0        1
32  32          1        1
34  34          0        2
35  35          0        1
36  36          0        1
38  38          0        3
... ...         ...      ...
858  858        1        1
859  859        1        3
861  861        0        3
862  862        0        2
863  863        1        1
865  865        0        2
866  866        1        2
867  867        1        2
868  868        0        1
870  870        1        3
871  871        0        3
872  872        1        1
873  873        0        1
874  874        0        3
875  875        1        2
876  876        1        3
877  877        0        3
878  878        0        3
880  880        1        1
881  881        1        2
882  882        0        3
883  883        0        3
884  884        0        2
885  885        0        3
886  886        0        3
887  887        0        2
888  888        1        1
890  890        1        1
891  891        0        3
892 1000        1        1
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Ru&5$$                        female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Sandstrom, Miss. Marguerite Ru&5$$                        female  4  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     malef  34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sandstrom, Miss. Marguerite Ru&5$$                        female  4  1
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
28  Fortune, Mr. Charles Alexander                            male   19  3
31  Uruchurtu, Don. Manuel E                                  male   40  0
32  Spencer, Mrs. William Augustus (Marie Eugenie)            female  9  1
34  Wheadon, Mr. Edward H                                     male   66  0
35  Meyer, Mr. Edgar Joseph                                   male   28  1
36  Holverson, Mr. Alexander Oskar                            male   42  1
38  Cann, Mr. Ernest Charles                                  male   21  0
... ...                                                       ...    ... ...
858 Daly, Mr. Peter Denis                                     male   51  0
859 Baclini, Mrs. Solomon (Latifa Qurban)                     female 24  0
861 Hansen, Mr. Claus Peter                                   male   41  2
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
892 Mr. Frederick Maxfield Hoyt                               male   38  1
    Parch Ticket           Fare     Cabin       Embarked ship
1   0     A/5 21171        7,25                 S        Titanic
2   0     PC 17599         71,2833  C85         C        Titanic
3   0     STON/O2. 3101282 7,925                S        Titanic
4   0     113803           53,1     C123        S        Titanic
5   0     373450           8,05                 S        Titanic
7   0     17463            51,8625  E46         S        Titanic
8   1     349909           21,075               S        Titanic
9   2     347742           11,1333              S        Titanic
10  0     237736           30,0708              C        Titanic
11  1     PP 9549          16,7     G6          S        Titanic
12  0     113783           26,55    C103        S        Titanic
13  0     A/5. 2151        8,05                 S        Titanic
14  1     PP 9549          16,7     G6          S        Titanic
15  0     350406           7,8542               S        Titanic
16  0     248706           16                   S        Titanic
17  1     382652           29,125               Q        Titanic
19  0     345763           18                   S        Titanic
21  0     239865           26                   S        Titanic
22  0     248698           13       D56         S        Titanic
23  0     330923           8,0292               Q        Titanic
24  1     PP 9549          16,7     G6          S        Titanic
25  1     349909           21,075               S        Titanic
26  5     347077           31,3875              S        Titanic
28  2     19950            263      C23 C25 C27 S        Titanic
31  0     PC 17601         27,7208              C        Titanic
32  0     PC 17569         146,5208 B78         C        Titanic
34  0     C.A. 24579       10,5                 S        Titanic
35  0     PC 17604         82,1708              C        Titanic
36  0     113789           52                   S        Titanic
38  0     A./5. 2152       8,05                 S        Titanic
... ...   ...              ...      ...         ...      ...
858 0     113055           26,55    E17         S        Titanic
859 3     2666             19,2583              C        Titanic
861 0     350026           14,1083              S        Titanic
862 0     28134            11,5                 S        Titanic
863 0     17466            25,9292  D17         S        Titanic
865 0     233866           13                   S        Titanic
866 0     236852           13                   S        Titanic
867 0     SC/PARIS 2149    13,8583              C        Titanic
868 0     PC 17590         50,4958  A24         S        Titanic
870 1     347742           11,1333              S        Titanic
871 0     349248           7,8958               S        Titanic
872 1     11751            52,5542  D35         S        Titanic
873 0     695              5        B51 B53 B55 S        Titanic
874 0     345765           9                    S        Titanic
875 0     P/PP 3381        24                   C        Titanic
876 0     2667             7,225                C        Titanic
877 0     7534             9,8458               S        Titanic
878 0     349212           7,8958               S        Titanic
880 1     11767            83,1583  C50         C        Titanic
881 1     230433           26                   S        Titanic
882 0     349257           7,8958               S        Titanic
883 0     7552             10,5167              S        Titanic
884 0     C.A./SOTON 34068 10,5                 S        Titanic
885 0     SOTON/OQ 392076  7,05                 S        Titanic
886 5     382652           29,125               Q        Titanic
887 0     211536           13                   S        Titanic
888 0     112053           30       B42         S        Titanic
890 0     111369           30       C148        C        Titanic
891 0     370376           7,75                 Q        Titanic
892 0     19943            90       C93         S        Titanic

## Analiza kolumn

In [102]:
summary(inputFile)

  PassengerId        Survived          Pclass          Name
 Min.   :   1.0   Min.   :0.0000   Min.   :1.000   Length:892
 1st Qu.: 223.8   1st Qu.:0.0000   1st Qu.:2.000   Class :character
 Median : 444.5   Median :0.0000   Median :3.000   Mode  :character
 Mean   : 445.8   Mean   :0.3868   Mean   :2.307
 3rd Qu.: 668.2   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :1000.0   Max.   :1.0000   Max.   :3.000
     Sex                Age                SibSp            Parch
 Length:892         Length:892         Min.   :0.0000   Min.   :0.0000
 Class :character   Class :character   1st Qu.:0.0000   1st Qu.:0.0000
 Mode  :character   Mode  :character   Median :0.0000   Median :0.0000
                                       Mean   :0.5258   Mean   :0.3711
                                       3rd Qu.:1.0000   3rd Qu.:0.0000
                                       Max.   :8.0000   Max.   :5.0000
    Ticket              Fare              Cabin             Embarked
 Length:892         Length:892         Length:892         Length:892
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



     ship
 Length:892
 Class :character
 Mode  :character

Kolumna Age wymaga zmiany typu danych na dane numeryczne

## Krok 3.  Usunięcie wierszy, w których brakuje danych dot. wieku pasażera

In [135]:
inputFile$Age <- as.numeric(gsub(",", ".", gsub("\\.", "", inputFile$Age)))

In [136]:
inputFile <- inputFile[!is.na(inputFile$Age), ]

## Krok 4. Usunięcie wierszy, w których wiek przekracza 110 lat

In [137]:
inputFile <- inputFile[!(inputFile$Age >110),]

## Krok 5. Usunięcie wierszy, w których wiek jest mniejszy niż 0 lat

In [138]:
inputFile <- inputFile[!(inputFile$Age <0),]

In [126]:
summary(inputFile$Age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.42   20.00   28.00   29.61   38.00   80.00

In [129]:
unique(inputFile$Embarked)

[1] "S"  "C"  "Q"  ""   "So" "Qe"

In [140]:
inputFile <- inputFile[(inputFile$Embarked =='S' | inputFile$Embarked =='C' | inputFile$Embarked =='Q'),]

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  11          1        3
15  15          0        3
16  16          1        2
17  17          0        3
19  19          0        3
21  21          0        2
22  22          1        2
23  23          1        3
24  11          1        3
25  25          0        3
26  26          1        3
28  28          0        1
31  31          0        1
32  32          1        1
34  34          0        2
35  35          0        1
36  36          0        1
38  38          0        3
... ...         ...      ...
858  858        1        1
859  859        1        3
861  861        0        3
862  862        0        2
863  863        1        1
865  865        0        2
866  866        1        2
867  867        1        2
868  868        0        1
870  870        1        3
871  871        0        3
872  872        1        1
873  873        0        1
874  874        0        3
875  875        1        2
876  876        1        3
877  877        0        3
878  878        0        3
880  880        1        1
881  881        1        2
882  882        0        3
883  883        0        3
884  884        0        2
885  885        0        3
886  886        0        3
887  887        0        2
888  888        1        1
890  890        1        1
891  891        0        3
892 1000        1        1
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Ru&5$$                        female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Sandstrom, Miss. Marguerite Ru&5$$                        female  4  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     malef  34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sandstrom, Miss. Marguerite Ru&5$$                        female  4  1
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
28  Fortune, Mr. Charles Alexander                            male   19  3
31  Uruchurtu, Don. Manuel E                                  male   40  0
32  Spencer, Mrs. William Augustus (Marie Eugenie)            female  9  1
34  Wheadon, Mr. Edward H                                     male   66  0
35  Meyer, Mr. Edgar Joseph                                   male   28  1
36  Holverson, Mr. Alexander Oskar                            male   42  1
38  Cann, Mr. Ernest Charles                                  male   21  0
... ...                                                       ...    ... ...
858 Daly, Mr. Peter Denis                                     male   51  0
859 Baclini, Mrs. Solomon (Latifa Qurban)                     female 24  0
861 Hansen, Mr. Claus Peter                                   male   41  2
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
892 Mr. Frederick Maxfield Hoyt                               male   38  1
    Parch Ticket           Fare     Cabin       Embarked ship
1   0     A/5 21171        7,25                 S        Titanic
2   0     PC 17599         71,2833  C85         C        Titanic
3   0     STON/O2. 3101282 7,925                S        Titanic
4   0     113803           53,1     C123        S        Titanic
5   0     373450           8,05                 S        Titanic
7   0     17463            51,8625  E46         S        Titanic
8   1     349909           21,075               S        Titanic
9   2     347742           11,1333              S        Titanic
10  0     237736           30,0708              C        Titanic
11  1     PP 9549          16,7     G6          S        Titanic
12  0     113783           26,55    C103        S        Titanic
13  0     A/5. 2151        8,05                 S        Titanic
14  1     PP 9549          16,7     G6          S        Titanic
15  0     350406           7,8542               S        Titanic
16  0     248706           16                   S        Titanic
17  1     382652           29,125               Q        Titanic
19  0     345763           18                   S        Titanic
21  0     239865           26                   S        Titanic
22  0     248698           13       D56         S        Titanic
23  0     330923           8,0292               Q        Titanic
24  1     PP 9549          16,7     G6          S        Titanic
25  1     349909           21,075               S        Titanic
26  5     347077           31,3875              S        Titanic
28  2     19950            263      C23 C25 C27 S        Titanic
31  0     PC 17601         27,7208              C        Titanic
32  0     PC 17569         146,5208 B78         C        Titanic
34  0     C.A. 24579       10,5                 S        Titanic
35  0     PC 17604         82,1708              C        Titanic
36  0     113789           52                   S        Titanic
38  0     A./5. 2152       8,05                 S        Titanic
... ...   ...              ...      ...         ...      ...
858 0     113055           26,55    E17         S        Titanic
859 3     2666             19,2583              C        Titanic
861 0     350026           14,1083              S        Titanic
862 0     28134            11,5                 S        Titanic
863 0     17466            25,9292  D17         S        Titanic
865 0     233866           13                   S        Titanic
866 0     236852           13                   S        Titanic
867 0     SC/PARIS 2149    13,8583              C        Titanic
868 0     PC 17590         50,4958  A24         S        Titanic
870 1     347742           11,1333              S        Titanic
871 0     349248           7,8958               S        Titanic
872 1     11751            52,5542  D35         S        Titanic
873 0     695              5        B51 B53 B55 S        Titanic
874 0     345765           9                    S        Titanic
875 0     P/PP 3381        24                   C        Titanic
876 0     2667             7,225                C        Titanic
877 0     7534             9,8458               S        Titanic
878 0     349212           7,8958               S        Titanic
880 1     11767            83,1583  C50         C        Titanic
881 1     230433           26                   S        Titanic
882 0     349257           7,8958               S        Titanic
883 0     7552             10,5167              S        Titanic
884 0     C.A./SOTON 34068 10,5                 S        Titanic
885 0     SOTON/OQ 392076  7,05                 S        Titanic
886 5     382652           29,125               Q        Titanic
887 0     211536           13                   S        Titanic
888 0     112053           30       B42         S        Titanic
890 0     111369           30       C148        C        Titanic
891 0     370376           7,75                 Q        Titanic
892 0     19943            90       C93         S        Titanic